<ion-content padding>  
    <form>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="./assets/img/LOGO.jpg">
          </ion-avatar>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label>Name:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Last Name:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Birthday:</ion-label>
        <ion-input type="date"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password:</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-button color="danger" type="submit" block>Register</ion-button>
    </form>
  </ion-content>